@charset "utf-8";

/* 全体設定 */
body{
    background-color: #426579; /*背景色設定*/
    color:white;/*文字色設定*/
    overflow-x: hidden;/* 追記 */
}

/* heder title */
#header_title{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

/* select member */
.select_member{
    margin-top:50px;
    font-size: 18px;
    text-align: center;
}

div.select_member_icon{
    display: inline-block;
    width: 106px;
    height: 106px;
    border: solid 1px #999999;
    background-color: rgba(0,0,0,0.3);
}

div#icon_box1{
    text-align: center;
}

div#icon_box2{
    text-align: center;
}

/* button */
button.button {
    display: inline-block;
    margin-top: 60px;
    width: 100%;
    max-width: 150px; /* ボタン幅 */
    color: #4D9BC1; /* 文字色 */
    border: 2px solid #00ff7f; /* 線幅・種類・色 */
    background: #fff; /* 背景色 */
    padding: 1em 2em;
    font-weight: bold; /* 文字の太さ */
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
  }
  
  /* マウスオーバーした際のデザイン */
  button#select:hover {
    color: #fff; /* 文字色 */
    background: #00ff7f; /* 背景色 */
  }

/* マウスオーバーした際のデザイン */
button#reset:hover {
    color: #fff; /* 文字色 */
    background: #b22222; /* 背景色 */
}

/* マウスオーバーした際のデザイン */
button#all_active:hover {
    color: #fff; /* 文字色 */
    background: #9acd32; /* 背景色 */
}

/* マウスオーバーした際のデザイン */
button#select_member_clear:hover {
    color: #fff; /* 文字色 */
    background: #9932cc; /* 背景色 */
}

button.select_element{
    display: inline-block;
    width: 100%;
    max-width: 150px; /* ボタン幅 */
    color: #4D9BC1; /* 文字色 */
    border: 2px solid #00ff7f; /* 線幅・種類・色 */
    background: #fff; /* 背景色 */
    padding: 1em 2em;
    font-weight: bold; /* 文字の太さ */
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

button.select_element:hover{
    color: #fff; /* 文字色 */
    background: #00ff7f; /* 背景色 */
}

.slide-menu p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

/* キャラクター一覧 */
#character_list{
    margin-top: 75px;
    text-align: center;
}

label {
    cursor: pointer;
}

label img {
    background-color: #000;
    filter: grayscale(100%);
    margin-right: 2.5px;
}

input:checked + img {
    outline: 2px solid yellow;
    background-color: #000;
    filter: grayscale(0%);
}


/* 説明文 */
.explanation{
    text-align: center;
}

/* ハンバーガーメニュー */
.header-area{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .hamburger{
    width: 40px;
    height: 25px;
    position: relative;
    position: fixed;
    top: 65px;
    z-index: 1000000;
  }
  .hamburger span{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: blue;
    transition: .5s;
  }
  .hamburger span:first-of-type{/* ハンバーガーメニューの1番目の線 */
    top: 0;
  }
  .hamburger span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
    top: 50%;
  }
  .hamburger span:last-of-type{/* ハンバーガーメニューの3番目の線 */
    top: 100%;
  }
  .slide-menu{
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 125px;
    width: 100%;
    left: 0;
    transform: translateX(-100%);
    transition: .5s;
    z-index: 1000000;
  }
  .slide-menu {
    color: #fff;
    line-height: 400%;
    text-align: center;
  }
.slide-menu p{
height: 60%;
}
  
  .hamburger.active span:first-of-type{/* ハンバーガーメニューの1番目の線 */
    top: 50%;
    transform: rotate(45deg);
  }
  .hamburger.active span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
    opacity: 0;/* 透明にする */
  }
  .hamburger.active span:last-of-type{/* ハンバーガーメニューの3番目の線 */
    top: 50%;
    transform: rotate(-45deg);
  }

  .slide-menu.active{
    transform: translateX(0); 
  }
